body {
    margin: 10px;
}
h4 {
    margin-top: -20px;
    margin-bottom: -20px;
}
#myTabContent {
    margin-top:71px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.scrollable-list {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}
#loading {

  /*width: 2%;
  height: 2%;*/
  /*top: 0px;
  left: 0px;*/
  position:relative;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {

  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -64px; /* -1 * image width / 2 */
  margin-top: -64px; /* -1 * image height / 2 */
  z-index: 100;
}

.btn-lifted {
    /* to get buttons in correct place when in list title*/
    position: relative;
    margin-top: -5px;
    margin-left: 3px;
    margin-right: 3px;
}
.btn-dropped {
    /* to get buttons in correct place when in list title*/
    position: relative;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}
.has-popover {
    position: relative;
    margin-top: -5px;
}




@media (min-width: 256px) 
{ 
    div[class^="col"]{padding-left:5px; padding-right:5px;}
}

@media (min-width: 512px) 
{ 
    div[class^="col"]{padding-left:10px; padding-right:10px;}
}


@media (min-width: 768px) 
{   
    div[class^="col"]{padding-left:15px; padding-right:15px;}
}

/*button {
    margin:3px;
}*/
/*.tccicon {
    background: url('../icons/favicon-16x16.png');
    height: 16px;
    width: 16px;
    display: inline;
    
}*/
.highlight {
    border-color: #ebccd1;
    background-color: #cecef2;
}

.myunits1 {
    background-color: #eeeef2;
}
.myunits2 {
    background-color: #eeeef2;
}
.myIcon {
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
}