body {
    margin: 10px;
}
h4 {
    margin-top: -20px;
    margin-bottom: -20px;
}
#myTabContent {
    margin-top:71px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.scrollable-list {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}
#loading {

  /*width: 2%;
  height: 2%;*/
  /*top: 0px;
  left: 0px;*/
  position:relative;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {

  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -64px; /* -1 * image width / 2 */
  margin-top: -64px; /* -1 * image height / 2 */
  z-index: 100;
}

@media (min-width: 993px) {
    .btn-lifted {
        /* to get buttons in correct place when in list title*/
        position: relative;
        margin-top: -5px;
        margin-left: 3px;
        margin-right: 3px;
    }
}




@media (min-width: 256px) {
    div[class^="col"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 512px) {
    div[class^="col"] {
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media (min-width: 768px) {
    div[class^="col"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 768px) {
    .list-group-item-height {
        height:  35px;
    }
    .btn-responsive {
        /*margin-top: -10px;*/
        padding: 2px 2px;
        font-size: 90%;
        line-height: 1;
        border-radius: 3px;
        margin-right: 3px;
    }
    .btn-fixed {
        min-width: 100px;
        max-width: 100px;
    }
    .navbar-responsive {
        padding: 2px 2px;
        font-size: 11px;
        width: 60%;
    }
    /*.navbar-header {
        height: 25px;
    }
    .navbar-brand {
        height: 25px;
    }*/

    .panel-footer {
        margin-top: -15px;
        margin-bottom: 5px;
        height: 25px;
    }
    .text-leader {
        color: blue;
        font-weight: bold;
        font-size: 90%;
    }
    .text-distance {
        color: red;
        font-weight: bold;
        font-size: 90%;
    }
    .scroll-area {
        width: 100%;
        height: calc(100% - 600px);

    }
    .gpx {
        width: inherit;
        height: 20%;
        margin: 0.25em auto;
    }
    .gpx .map {
        height: 300px;
        margin: 0;
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    .list-group-item-height {
        height: 45px;
    }
    .btn-responsive {
        padding: 3px 4px;
        line-height: 1.2;
        margin-right: 3px;
    }
    .btn-fixed {
        min-width: 115px;
        max-width: 115px;
    }
    .navbar-responsive {
        padding: 4px 9px;
        font-size: 12px;
        width: 80%;
    }
    .text-leader {
        color: blue;
        font-weight: bold;
        font-size: 95%;
    }
    .text-distance {
        color: red;
        font-weight: bold;
        font-size: 95%;
    }
    .scroll-area {
        width: 100%;
        height: calc(100% - 600px);
    }
    .gpx {
        width: inherit;
        height: 30%;
        margin: 0.25em auto;
    }
    .gpx .map {
        height: 400px;
        margin: 0;
    }

}
@media (min-width: 993px)  {
    /*.list-group-item-height {
        height: 90%;
    }*/

    .btn-responsive {
        padding: 4px 6px;
        font-size: 13px;
        line-height: 1.3;
    }
    .btn-fixed {
        min-width: 125px;
        max-width: 125px;
    }
    .navbar-responsive {
        font-size: 100%;
    }
    .text-leader {
        color: blue;
        font-weight: bold;
    }
    .text-distance {
        color: red;
        font-weight: bold;
    }
}
.btn-dropped {
    /* to get buttons in correct place when in list title*/
    position: relative;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.has-popover {
    /*position: relative;
    margin-top: -5px;*/
}
    /*button {
    margin:3px;
}*/
    /*.tccicon {
    background: url('../icons/favicon-16x16.png');
    height: 16px;
    width: 16px;
    display: inline;
    
}*/
    .highlight {
        border-color: #ebccd1;
        background-color: #cecef2;
    }

    .myunits1 {
        background-color: #eeeef2;
    }

    .myunits2 {
        background-color: #eeeef2;
    }

    .myIcon {
        text-align: center;
        /* Horizontally center the text (icon) */
        line-height: 20px;
        /* Vertically center the text (icon) */
    }

.ellipsis {
    white-space: nowrap;
    width: 100%; /* IE6 needs any width */
    overflow: hidden; /* "overflow" value must be different from  visible"*/
    text-overflow: ellipsis; /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}
